@import '~bulma/sass/utilities/_all';

$primary: #ffc40b;
$primary-invert: findColorInvert($primary);

$body-background-color: $black;
$title-color: $light;
$subtitle-color: $light;
$label-color: $light;

$modal-card-body-background-color: $grey-dark;
$dropdown-content-background-color: $grey-dark;
$dropdown-item-color: $light;
$dropdown-item-hover-background-color: $grey-light;

$menu-label-color: $white;
$menu-item-hover-background-color: $dark;
$menu-item-hover-color: $light;
$menu-item-color: $grey-light;

$input-background-color: $grey-lighter;
$input-disabled-color: $black;
$input-disabled-background-color: $grey-light;
$input-disabled-border-color: $grey-light;

$tabs-link-color: $light;
$tabs-toggle-link-active-color: $black;
$tabs-link-hover-color: $light;
$tabs-toggle-link-hover-background-color: $grey-dark;

.datepicker {
  .dropdown-content {
    background: $dark;
  }
}

.datepicker-header {
  .datepicker-cell {
    color: $light !important;
  }
}

.datepicker-cell {
  &.is-unselectable {
    color: $grey !important;
  }
  &.is-selectable {
    color: $grey-lighter !important;
    &:hover:not(.is-selected),
    &:focus:not(.is-selected) {
      color: $dark !important;
    }
  }
}

$colors: (
  'white': (
    $white,
    $black
  ),
  'black': (
    $black,
    $white
  ),
  'light': (
    $light,
    $light-invert
  ),
  'dark': (
    $dark,
    $dark-invert
  ),
  'primary': (
    $primary,
    $primary-invert
  ),
  'info': (
    $info,
    $info-invert
  ),
  'success': (
    $success,
    $success-invert
  ),
  'warning': (
    $warning,
    $warning-invert
  ),
  'danger': (
    $danger,
    $danger-invert
  )
);

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
@import '~bulma-divider';
@import '~assets/css/custom-dropdown';
